<!DOCTYPE html>
<html lang="en">
<body>
<%= link_to 'Каталог товаров', '/catalog', method: :get %>
<%= link_to 'Мой заказ', '/mycart', method: :get %>
<div class="product">
  <div class="details">
    <ul>
      <%- @goods.each do |good| %>
        <li>
          <%= "#{good.nomenclature}" %>
          <%= image_tag("redapple.jpg", alt: "Rails logo") %>
          <p><%= "#{good.price} #{good.measure}" %></p>
        </li>
      <% end %>
    </ul>
    <%= link_to '+', '/additem', method: :get %>
    <button onclick="showProductDetails()">Показать товар</button>
  </div>
</div>

<div id="productDetailsModal" class="modal">
  <div class="modal-content">
    <span class="close" onclick="closeProductDetailsModal()">&times;</span>
    <ul>
      <%- @goods.each do |good| %>
        <li>
          <%= "#{good.nomenclature}" %>
          <%= image_tag("redapple.jpg", alt: "Rails logo") %>
          <h3>Описание:</h3>
          <%= "#{good.description}" %>
          <p><%= "#{good.price} #{good.measure}" %></p>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Добавить в корзину', '/additem', method: :get %>
  </div>
</div>
</body>

<style>
    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
        padding: 10px 20px;
        background-color: #d8ffba;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    a:hover {
        background-color: #a8ff00;
    }

    a:active {
        background-color: #00ff8a;
    }
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
    }

    .product {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        border: 5px solid #d8ffba;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .product img {
        width: 150px;
        height: 100px;
        object-fit: cover;
        border-radius: 5px;
    }

    .details {
        text-align: center;
    }

    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fefefe;
        padding: 50px;
        text-align: center;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    .close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
    }

    button {
        width: 50%;
        padding: 1px;
        background-color: #4caf50;
        color: #e7ffcd;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>

</html>

<%= javascript_tag do %>
  // Отображение модального окна
  function showProductDetails() {
  var modal = document.getElementById("productDetailsModal");
  modal.style.display = "block";
  }

  // Закрытие модального окна
  function closeProductDetailsModal() {
  var modal = document.getElementById("productDetailsModal");
  modal.style.display = "none";
  }
<% end %>
