<!DOCTYPE html>
<html lang="en">
<body>
<header>
  <div class="container mx-auto flex flex-row justify-between items-center my-4">
    <%= image_tag("Logo.svg", alt: "Logo", class: "w-28") %>
    <%= link_to 'Каталог товаров', '/catalog', class: "block py-3", method: :get %>
    <%= link_to 'Мой заказ', '/mycart', class: "block py-3", method: :get %>
    <span class="block py-3">Контакты</span>
  </div>
</header>
<main>
  <div class="container mx-auto">
    <div class="flex justify-center border-b border-black pb-5 mb-5">
      <h1 class="text-2xl">Каталог товаров</h1>
    </div>
    <div class="grid grid-cols-4 gap-4">
      <%- @goods.each do |good| %>
        <div class="flex flex-col gap-1.5 card cursor-pointer" data-id="<%=good.id%>">
          <%= image_tag("redapple.jpg", alt: "good") %>
          <h3 class="font-medium"><%= "#{good.nomenclature}" %></h3>
          <span><%= "#{good.price.to_i} руб/#{good.measure}" %></span>
          <%= link_to '+', additem_path(good_id: good.id), class: "bg-[#D7E8CF] rounded-md self-start grow-0 px-5 text-xl flex h-[25px] leading-[25px]", method: :get %>
        </div>
        <aside class="fixed h-screen w-[400px] right-0 top-0 bottom-0 bg-white shadow-2xl modal-<%=good.id%> hidden">
          <div class="p-10">
              <div class="flex flex-col">
                <span class="absolute right-3 top-3 cursor-pointer text-2xl cross" data-id="<%=good.id%>">✕</span>
                <h3 class="font-medium text-2xl mb-5"><%= "#{good.nomenclature}" %></h3>
                <%= image_tag("redapple.jpg", alt: "good") %>
                <div class="flex flex-col mt-5 mb-3">
                  <span class="underline underline-offset-2">описание:</span>
                  <span><%= "#{good.description}" %></span>
                </div>
                <span class="mb-10 text-xl"><span class="font-bold"><%= "#{good.price.to_i}" %></span> <%= " руб/#{good.measure}" %></span>
                <%= link_to 'ДОБАВИТЬ В КОРЗИНУ', additem_path(good_id: good.id), class: "bg-[#D7E8CF] rounded-md self-start grow-0 px-8 text-xl flex h-[45px] leading-[45px]", method: :get %>
              </div>
          </div>
        </aside>
      <% end %>
    </div>
  </div>
</main>

<script>
  let cards = document.querySelectorAll(".card")
  for (let i = 0; i < cards.length; i++) {
      let card = cards[i]
      card.onclick = () => {
          let id = card.dataset.id
          let modalClass = `.modal-${id}`
          let modal = document.querySelector(modalClass)
          modal.classList.remove("hidden")
      }
  }
  let crosses = document.querySelectorAll(".cross")
  for (let i = 0; i < crosses.length; i++) {
      let cross = crosses[i]
      cross.onclick = () => {
          let id = cross.dataset.id
          let modalClass = `.modal-${id}`
          let modal = document.querySelector(modalClass)
          modal.classList.add("hidden")
      }
  }
</script>
</body>
</html>
